DATABASE_URL=postgresql://postdia_user:kkRbzuUDLdnDvSUym3PvulCHtI815RQq@dpg-d3v8t5hr0fns73c9tq9g-a.frankfurt-postgres.render.com/postdia
CLOUDINARY_URL=cloudinary://472899494355635:gGgIhXupY9im376HqlyCwNhZe-c@djoszn8zc
CLOUDINARY_CLOUD_NAME=djoszn8zc
CLOUDINARY_API_KEY=472899494355635
CLOUDINARY_API_SECRET=gGgIhXupY9im376HqlyCwNhZe-c
ADMIN_IDS=448592121 
CRYPTOPAY_TOKEN=479115:AARxfBgUT3h1n9oBCwY1Y3UbgwN1n6S9mHn
API_HOST=0.0.0.0
API_PORT=8000
